html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, 
ol, ul, li, form, table, caption, tr, th, td, article, aside, footer, header{
                 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
div {
    clear: both;
}
*{
    box-sizing: border-box;
}

tr{
    border: 1px;
    border-style: dashed;
    border-color: rgb(0, 0, 0);
}
td{
    border: 1px;
    border-style: dashed;
    border-color: black;
}
.tabletext{
    opacity: 0;
}
.tile{
    color: white;
}
#solved{
    font-size: 72px;
    position: absolute;
    top: 15%;
    left: 40%;
    text-align: left;
    opacity: 0;
    color: rgb(55, 136, 211);
}
.solution{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    position: fixed;
    top: 40%;
    left: 40%;
    background-color: rgb(55, 136, 211);
}
body{
    background-color: rgb(143, 195, 199);
}